<a href="https://colab.research.google.com/github/marcelogbrito/analise-exploratoria-bancos/blob/main/bancos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
props_investimento = pd.read_csv('https://github.com/marcelogbrito/analise-exploratoria-bancos/blob/main/bank-full.csv?raw=true', sep=';')

In [7]:
props_investimento

       age           job   marital  education  ... pdays  previous poutcome    y
0       58    management   married   tertiary  ...    -1         0  unknown   no
1       44    technician    single  secondary  ...    -1         0  unknown   no
2       33  entrepreneur   married  secondary  ...    -1         0  unknown   no
3       47   blue-collar   married    unknown  ...    -1         0  unknown   no
4       33       unknown    single    unknown  ...    -1         0  unknown   no
...    ...           ...       ...        ...  ...   ...       ...      ...  ...
45206   51    technician   married   tertiary  ...    -1         0  unknown  yes
45207   71       retired  divorced    primary  ...    -1         0  unknown  yes
45208   72       retired   married  secondary  ...   184         3  success  yes
45209   57   blue-collar   married  secondary  ...    -1         0  unknown   no
45210   37  entrepreneur   married  secondary  ...   188        11    other   no

[45211 rows x 17 columns]

In [9]:
## Informações Relevantes sobre a base de dados

## Informações Relevantes sobre a base de dados

## Número de Amostras

## Atributos

## Classes

## Base desbalanceada ou balanceada?

## Valores Nulos

## Outliers

## média, o desvio padrão, a variância, o valor mínimo e máximo de cada atributo
### Se a base tiver muitos atributos faça de 10 que você ache relevante para o problema
### Mostre essas informações para cada classe com intuito de verificar se a diferença nos atributos para cada classe.
### Boxplots

## Mostre a correlação entre os atributos através de uma tabela e de gráficos de dispersão.
### Verifique se a correlação é positiva, negativa, nula.
### Verifique também se a correlação é fraca, forte ou perfeita

## Mostre a frequência absoluta e relativa dos dados em relação as classes.
### Plot Gráficos de Barras para ilustrar a frequência absoluta em relação as classes.